@page "/cards"
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Routing
@using UcareAppFront.DTOs
@inject IJSRuntime JSRuntime
<PageTitle>Cards</PageTitle>

<div class="container">
    <div class="row">
        @if (cards != null)
        {
            @foreach (var card in cards)
            {
                <div class="col-md-3 mb-4">
                    <div class="card" @onclick="() => NavigateToDetails(card.id)">
                        <img src="@card.imgPath" class="card-img-top" alt="@card.name" />
                        <div class="card-body">
                            <h5 class="card-title">@card.name</h5>
                            <p class="card-text"><i class="bi bi-house-door"></i> @card.address</p>
                            <p class="card-text"><i class="bi bi-briefcase"></i> @card.occupation</p>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <p>Loading...</p>
            </div>
        }
    </div>
</div>

@code {
    private List<CardDto> cards;

    protected override async Task OnInitializedAsync()
    {
        cards = new List<CardDto>
        {
            new CardDto
            {
                id = 1,
                imgPath = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1DW2AbPjiyr_z8wPldURnj7pUcyca6F0GrA&s",
                name = "John Doe",
                address = "123 Main St",
                occupation = "Software Developer",
                description = "Experienced developer in ASP.NET Core.",
                latitude = 40.7128,
                longitude = 74.0060
            },
            new CardDto
            {
                id = 2,
                imgPath = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1DW2AbPjiyr_z8wPldURnj7pUcyca6F0GrA&s",
                name = "Jane Smith",
                address = "456 Elm St",
                occupation = "Graphic Designer",
                description = "Creative designer with a passion for graphics.",
                latitude = 40.4093,
                longitude =49.8671
            },new CardDto
            {
                id = 2,
                imgPath = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1DW2AbPjiyr_z8wPldURnj7pUcyca6F0GrA&s",
                name = "Jane Smith",
                address = "456 Elm St",
                occupation = "Graphic Designer",
                description = "Creative designer with a passion for graphics.",
                latitude = 34.0522,
                longitude = -118.2437
            },new CardDto
            {
                id = 2,
                imgPath = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1DW2AbPjiyr_z8wPldURnj7pUcyca6F0GrA&s",
                name = "Jane Smith",
                address = "456 Elm St",
                occupation = "Graphic Designer",
                description = "Creative designer with a passion for graphics.",
                latitude = 34.0522,
                longitude = -118.2437
            },new CardDto
            {
                id = 2,
                imgPath = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1DW2AbPjiyr_z8wPldURnj7pUcyca6F0GrA&s",
                name = "Jane Smith",
                address = "456 Elm St",
                occupation = "Graphic Designer",
                description = "Creative designer with a passion for graphics.",
                latitude = 34.0522,
                longitude = -118.2437
            },new CardDto
            {
                id = 2,
                imgPath = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1DW2AbPjiyr_z8wPldURnj7pUcyca6F0GrA&s",
                name = "Jane Smith",
                address = "456 Elm St",
                occupation = "Graphic Designer",
                description = "Creative designer with a passion for graphics.",
                latitude = 34.0522,
                longitude = -118.2437
            },new CardDto
            {
                id = 2,
                imgPath = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1DW2AbPjiyr_z8wPldURnj7pUcyca6F0GrA&s",
                name = "Jane Smith",
                address = "456 Elm St",
                occupation = "Graphic Designer",
                description = "Creative designer with a passion for graphics.",
                latitude = 34.0522,
                longitude = -118.2437
            }
            // Add more cards as needed
        };
    }

    private void NavigateToDetails(int id)
    {
        JSRuntime.InvokeVoidAsync("localStorageHelper.setItem", "from", "cards");
        NavigationManager.NavigateTo($"/card/{id}");
    }
}